.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 7.8vw;
  height: max(60px, 10vh);
  border-bottom: 1px solid var(--primary_color);
}

.logo {
  width: 18vw;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  border-right: 1px solid var(--primary_color);

  & img {
    width: clamp(100px, 13vw, 250px);
  }
}
.menu_icon {
  display: none;
  padding-right: 30px;
}
.navbar {
  display: flex;
  align-items: center;
  height: 100%;

  .nav_link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 12px;
    padding: 8px 16px;

    & a {
      display: flex;
      align-items: center;
      gap: 8px;
      text-decoration: none;
      font-size: 1vw;
      font-weight: 300;
      color: var(--primary_color);
      transition: 0.3s;

      &:hover {
        color: var(--accent);
      }
    }
  }
  .nav_link:last-child {
    min-width: 13vw;
    margin-right: 0;
    background: var(--primary_color);
    transition: 0.3s;

    & a {
      color: var(--light_color);
    }

    &:hover {
      background: var(--accent);
    }
  }
}
.mini_nav {
  position: absolute;
  left: 0;
  right: 0;
  top: max(80px, 12vh);
  z-index: 1020;
  display: none;
  flex-direction: column;
  align-items: center;
  row-gap: 2em;
  background: var(--light_color);

  .nav_link {
    width: 100%;
    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 8px 16px;
      font-size: 2vw;
      font-weight: 300;
      text-decoration: none;
      color: var(--primary_color);
      transition: 0.3s;

      &:hover {
        color: var(--accent);
      }
    }
  }

  .nav_link:last-child {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary_color);
    transition: 0.3s;

    & a {
      color: var(--light_color);
    }

    &:hover {
      background: var(--accent);
    }
  }
}

/* ----------responsive styling-------- */
@media (max-width: 1024px) {
  .navbar {
    display: none;
  }
  .menu_icon {
    display: block;
  }
}
@media (max-width: 768px) {
  .logo {
    width: 35vw;
    justify-content: center;
  }
  .mini_nav .nav_link a {
    font-size: 4vw;
  }
}
