.retail_products {
  padding: 50px 20px 20px;
}

.heading {
  margin-top: 5vw;

  & h2 {
    font-size: 2.4vw;
    font-weight: 600;
    text-align: center;
  }
}
.gallery {
  display: flex;
  height: 60vh;
  width: 80vw;
  border-radius: 20px;
  margin: 5vh auto;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);

  .item {
    flex: 1;
    position: relative;
    height: 100%;
    width: 100%;
    margin-right: -2vw;
    border-radius: 20px;
    background-color: #5a768c;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: flex 0.7s cubic-bezier(0.25, 0.8, 0.25, 1),
      margin-right 0.7s cubic-bezier(0.25, 0.8, 0.25, 1), transform 0.7s ease-in-out !important;

    .bg_img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    & h4 {
      position: absolute;
      bottom: 1vw;
      right: 3vw;
      padding-right: 3vw;
      color: var(--light_color);
      font-size: 1.2vw;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
      white-space: nowrap;
      font-weight: 700;
      opacity: 0.6;
      transform-origin: right bottom;
      transform: rotate(-90deg) translateX(100%);
      transition: opacity 0.5s ease-in-out;
    }
  }

  .item:nth-of-type(1) {
    z-index: 9;
  }
  .item:nth-of-type(2) {
    z-index: 8;
  }
  .item:nth-of-type(3) {
    z-index: 7;
  }
  .item:nth-of-type(4) {
    z-index: 6;
  }
  .item:nth-of-type(5) {
    z-index: 5;
  }
  .item:nth-of-type(6) {
    z-index: 4;
  }
  .item:nth-of-type(7) {
    z-index: 3;
  }
  .item:nth-of-type(8) {
    z-index: 2;
  }
  .item:nth-of-type(9) {
    z-index: 1;
  }

  .item:hover {
    flex: 3;
    margin-right: 0;
    z-index: 10;

    & h4 {
      opacity: 1;
    }
  }
}

/* ---------- responsive styling ------------ */
@media (max-width: 1024px) {
  .gallery {
    height: 30vh;
  }
}
@media (max-width: 768px) {
  .heading h2 {
    font-size: 5vw;
  }
  .gallery {
    width: 90vw;
    height: 40vh;
    border-radius: 10px;

    .item {
      border-radius: 10px;

      h4 {
        font-size: 2vw;
        bottom: 3vh;
        right: 2vw;
      }
    }
  }
}
