@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary_color: #193444;
  --light_color: #ffffff;
  --accent: #50845e;
  --neutral: #a3b4bd;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: var(--primary_color);
  line-height: 1.5;
}

.tagcloud-container {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  perspective: 1000px; /* 3D perspective */
}

.tagcloud-sphere {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d; /* Enable 3D */
}

.tagcloud-tag {
  position: absolute;
  width: 60px; /* Set the size of the images */
  height: 60px;
  object-fit: contain;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.tagcloud-tag:hover {
  transform: scale(1.3); /* Enlarge image on hover */
  opacity: 1;
}
